<app-navbar></app-navbar>

    

<div class="container-fluid mt-custom vh-100 d-flex justify-content-center align-items-center p-0 ">  
    <div class="row w-100">
        <div class="col-12 col-md-12 vh-100 p-0" id="video-container">
            <video #myVideo src="/assets/media/animazione1.mp4" type="video/mp4"  autoplay></video>
        </div>
    </div>
</div>





<div class="accordion" id="accordionExample" *ngIf="isUserWithEmailAllowed">
    <div class="accordion-item ">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Inserisci una nuova promo
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
        <div class="accordion-body d-flex flex-column">
            <app-image-upload  *ngIf="isUserWithEmailAllowed" (imageUploaded)="onImageUploaded($event)"></app-image-upload>
        </div>
      </div>
    </div>
  </div>

<div *ngIf="imageUrl" class="d-flex flex-column align-items-center justify-content-center">
    <img [src]="imageUrl" alt="Uploaded Image" class="promo"/>
    <button class="btn text-white" *ngIf="isUserWithEmailAllowed"  (click)="deleteImage()">Elimina Promo</button>
  </div>
  


    
<app-carousel-istruttori id="istruttori"></app-carousel-istruttori>


<div class="container-fluid vh-100 d-flex justify-content-center align-items-center pb-5">
    <div class="row w-100 ">
        <div class="col-12 col-md-12 vh-100 d-flex justify-content-start align-items-center text-white vision">
            <h2 id="typed-output" class="w-50 h-50"></h2>
        </div>        
    </div>
 </div>

<!-- <div class="container-fluid vh-100 d-flex justify-content-center align-items-center ">
    <div class="row">
        <div class="col col-md-5 d-flex justify-content-center align-items-center text-white ms-5 vision">
            OFFRIRE ESPERIENZA D'ALLENAMENTO D'ELITE AD UN PREZZO ACCESSIBILE.
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center text-white">
            <img src="https://picsum.photos/600" class="img-fluid" alt="">
        </div>
    </div>
 </div> -->


<app-carousel-discipline id="corsi"></app-carousel-discipline>

<div class="divider">

</div>


<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d100403.36962082984!2d13.287271315538348!3d38.14936981641969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x1319e61a86f16f79%3A0x19fee121818328d1!2sVia%20Borromeo%20Cardinale%2C%2018%2C%2090142%20Palermo%20PA!3m2!1d38.1493986!2d13.3696723!5e0!3m2!1sit!2sit!4v1708516019955!5m2!1sit!2sit" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>




<app-footer></app-footer>