<app-navbar></app-navbar>


<div class=" container bg-danger mt-5 vh-100 d-flex justify-content-center align-items-center ">
    <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nisi et a perferendis hic dicta pariatur quisquam modi quaerat tempora est porro asperiores fugiat totam ex, ullam voluptatibus ab esse.        
    </h1>    
</div>

<div class="container bg-light vh-100 d-flex justify-content-center align-items-center ">
 <h1>spazio promozionale</h1>
</div>


    
<app-carousel-istruttori></app-carousel-istruttori>



<div class="container viewport-50 d-flex justify-content-center align-items-center ">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center" >
            testo mission Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum facilis deleniti aperiam. Ducimus expedita ex ea id natus sapiente, qui eum sunt! Blanditiis repudiandae consequuntur fugiat velit beatae doloremque?
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            foto
        </div>
    </div>
 </div>


<app-carousel-discipline id="corsi"></app-carousel-discipline>