.viewport-50{
    height: 50vh;
}

*{
    scroll-behavior: smooth;
    background-color: var(--grey) !important;
}

.headerBanner{
    background-image: url('../../../assets/media/bannerHeader.png');
    background-position: center;
    background-size: cover;
}

.bannerPromo{
    background-image: url('../../../assets/media/promo.png');
    background-position: center;
    background-size: cover;
}


  




  
