.viewport-50{
    height: 50vh;
}



*{
    scroll-behavior: smooth;
    background-color: var(--grey) !important;
}

.headerBanner{
    background-image: url('../../../assets/media/bannerHeader.png');
    background-position: center;
    background-size: cover;
}

.bannerPromo{
    background-image: url('../../../assets/media/promo.png');
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
}

.vision , .mission{
    font-family: "museo-slab" , serif;
    font-weight: 300;
    font-size: x-large;
}

@media screen and (max-width: 992px) {
    .bannerPromo {
        height: 190px;      
    }
  }
  




  
