<app-navbar></app-navbar>


<div class="container-fluid bg-danger mt-5 vh-100 d-flex justify-content-center align-items-center headerBanner">  
</div>

<div class="container-fluid bg-danger vh-100 d-flex justify-content-center align-items-center bannerPromo">
 
</div>


    
<app-carousel-istruttori></app-carousel-istruttori>



<div class="container vh-100 d-flex justify-content-center align-items-center ">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center" >
            testo mission Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum facilis deleniti aperiam. Ducimus expedita ex ea id natus sapiente, qui eum sunt! Blanditiis repudiandae consequuntur fugiat velit beatae doloremque?
        </div>

        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            foto
        </div>
    </div>
 </div>


<app-carousel-discipline id="corsi"></app-carousel-discipline>

<div class="container vh-100 d-flex justify-content-center align-items-center ">
    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center">
            foto
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center" >
            testo mission Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eum facilis deleniti aperiam. Ducimus expedita ex ea id natus sapiente, qui eum sunt! Blanditiis repudiandae consequuntur fugiat velit beatae doloremque?
        </div>

    </div>
 </div>


<app-footer></app-footer>