*{
  background-color: var(--grey) !important;
}

.viewport-50{
    height: 50vh;
}



*{
    scroll-behavior: smooth;
    background-color: var(--grey) !important;
}

.headerBanner{
    background-image: url('../../../assets/media/bannerHeader.png');
    background-position: center;
    background-size: cover;
}



.vision , .mission{
    font-family: "museo-slab" , serif;
    font-weight: 300;
    font-size: x-large;
}


.img-promo{
    max-width: 100%;
}
  

@media screen and (min-width: 1800px) {
    .img-promo {
        width: 100vw;      
    }
  }

  /* video{
    width: 100%;
    height: 100vh;
  } */
  #video-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .vision{
    background-image: url(../../../assets/media/vision.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  h2{
    background-color: transparent !important;
  }

  #corsi{
    background-color: var(--grey) !important;
  }


  .divider{
    height: 200px;
  }

 

  
