<app-navbar></app-navbar>

    <!-- Main content -->
    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4 vh-100 d-flex flex-column align-items-center justify-content-start">
      <div class="inner-adjust">
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <div class="d-flex justify-content-center">
                  <img class="profileImg" *ngIf="photoURL" [src]="photoURL" alt="Foto Profilo">
                </div>
                <h1 class="titleName"><strong>{{ user.displayName | titlecase }} {{ cognome | titlecase }}</strong></h1>
                <p class="titleSurname">Studente</p>
                <p>Data di nascita: {{ dataDiNascita | date:'dd/MM/yyyy' }}</p>
                <p>Codice fiscale: {{ codiceFiscale | uppercase }}</p>
                <!-- <p>User ID: <strong>{{ user.uid }}</strong></p> -->
                <p>Email: <strong>{{ user.email }}</strong></p>
                <p>Email Verified: <strong>{{ user.emailVerified }}</strong></p>  
                
                <div class="buttons d-flex justify-content-center">
                  <button routerLink="/datipersonali" class="btn btn-light rounded-pill btn-update">Modifica Profilo</button>
                  <button type="button" class="btn btn-light rounded-pill ms-3 btn-delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Elimina Profilo
                  </button>
                </div>
                <!-- Button trigger modal -->
                  

                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Elimina account</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Sei sicuro di voler eliminare il tuo account?
                        </div>
                        <div class="modal-footer">
                          <button (click)="deleteAccount()" class="btn btn-danger" data-bs-dismiss="modal">Elimina account</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                      </div>
                    </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
 
