<app-navbar></app-navbar>

<!-- Sidebar navigation -->
<div class="container-fluid mt-5">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active">
              <i class="fas fa-user"></i>User Profile
            </a>
          </li>
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <div class="media-body">
                <h1>Hello: <strong>{{ user.displayName | titlecase }} {{ cognome | titlecase }}</strong></h1>
                <p>Data di nascita: {{ dataDiNascita | date:'dd/MM/yyyy' }}</p>
                <p>Codice fiscale: {{ codiceFiscale | uppercase }}</p>
                <p>User ID: <strong>{{ user.uid }}</strong></p>
                <p>Email: <strong>{{ user.email }}</strong></p>
                <p>Email Verified: <strong>{{ user.emailVerified }}</strong></p>           
                

                <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Elimina dati profilo
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Elimina account</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Sei sicuro di voler eliminare il tuo account?
                        </div>
                        <div class="modal-footer">
                          <button (click)="deleteAccount()" class="btn btn-danger" data-bs-dismiss="modal">Elimina account</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                        </div>
                      </div>
                    </div>
                  </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
