<app-navbar></app-navbar>
<body class="mt-5">
    <div class="wrapper">
      <h1>Modifica i tuoi dati</h1>
      <form class="was-validated" (ngSubmit)="onSubmit()" #myForm="ngForm">
        
        <div class="input-box text-center">
          <label for="newName" class="form-label">Nome attuale : {{userDisplayName}}</label>
          <input type="text" class="form-control" id="newName" [(ngModel)]="newName" name="newName" placeholder="Inserisci il tuo nome" 
          (blur)="newNameTouched = true" required>
          <div class="invalid-feedback" *ngIf="newNameTouched && myForm.controls.newName?.errors?.required">
            Il nome è obbligatorio
          </div>  
        </div>
        
        <div class="input-box text-center">
          <label for="cognome" class="form-label">Cognome attuale : {{cognome}}</label>
          <input type="text" class="form-control" id="cognome" [(ngModel)]="nuovoCognome" name="cognome" placeholder="Inserisci il tuo cognome" 
          (blur)="nuovoCognomeTouched = true" required>
          <div class="invalid-feedback" *ngIf="nuovoCognomeTouched && myForm.controls.cognome?.errors?.required">
            Il cognome è obbligatorio
          </div>  
        </div>
        
        <div class="input-box text-center">        
          <label for="dataDiNascita" class="form-label">Data Di Nascita attuale : {{dataDiNascita | date:'dd/MM/yyyy'}}</label>
          <input type="date" class="form-control" id="dataDiNascita" [(ngModel)]="nuovaDataDiNascita" name="dataDiNascita" placeholder="Inserisci la tua data di nascita" 
          (blur)="nuovaDataDiNascitaTouched = true" required>
          <div class="invalid-feedback" *ngIf="nuovaDataDiNascitaTouched && myForm.controls.dataDiNascita?.errors?.required">
            La data di nascita è obbligatoria
          </div>   
        </div>
        
        <div class="input-box text-center">        
          <label for="codiceFiscale" class="form-label">Codice Fiscale attuale :  {{codiceFiscale}}</label>
          <input type="text" class="form-control" id="codiceFiscale" [(ngModel)]="nuovoCodiceFiscale" name="codiceFiscale" placeholder="Inserisci il tuo codice fiscale" 
          (blur)="nuovoCodiceFiscaleTouched = true" required>
          <div class="invalid-feedback" *ngIf="nuovoCodiceFiscaleTouched && myForm.controls.codiceFiscale?.errors?.required">
            Il codice fiscale è obbligatorio
          </div>     
        </div>

        <div class="input-box text-center">        
          <label for="numeroTelefono" class="form-label">Numero di telefono attuale :  {{numeroTelefono}}</label>
          <input type="text" class="form-control" id="numeroTelefono" [(ngModel)]="nuovoNumeroTelefono" name="numeroTelefono" placeholder="Inserisci il tuo numero di telefono" 
          (blur)="nuovoNumeroTelefonoTouched = true" required>
          <div class="invalid-feedback" *ngIf="nuovoNumeroTelefonoTouched && myForm.controls.numeroTelefono?.errors?.required">
            Il numero di telefono è obbligatorio
          </div>     
        </div>
        
        <div class="input-box text-center"> 
          <label for="photo" class="form-label">Foto</label>       
          <input type="file" class="form-control" aria-label="file example" id="photo" name="photo" (change)="onFileSelected($event)" >        
        </div>   
        
        
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Invia</button>  
      </form>
    </div>
  </body>