<body>
  <div class="container d-flex align-items-center justify-content-center ps-0" *ngIf="selectedCard">
    <div class="row w-100 align-items-start">
      <div class="col-12 col-md-5 d-flex justify-content-start container-foto">
        <img src="{{selectedCard.img}}" alt="" class="img-fluid">
      </div>

      <div class="col-12 col-md-7 d-flex flex-column align-items-end container-testo">
        <div class="container d-flex flex-column justify-content-between w-100">
        <div class="border-custom"> 
        <h2 class="mb-0">{{ selectedCard.nome }}</h2>
        <p class="fw-bold disciplina">{{selectedCard.disciplina | uppercase}}</p>
      </div>
        <p [innerHTML]="selectedCard.descrizione" class="descr"></p>
        <div class="container-click">
        <p class="container-click2">{{selectedCard.nome}} è presente presso <strong>Elite Academy.</strong><br>Desideri un consulto?
          <a class="click-box" href="https://wa.me/393792128351" target="_blank">Clicca qui
          </a>
        </p>
      </div>
      </div>
    </div>
    </div>
  </div>
</body>
