<app-navbar></app-navbar>

  <body>
    <div class="wrapper">
        
            <h1>Registrati</h1>
            
            <div class="input-box">
                <input type="text" placeholder="E-mail" #userEmail required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" #userPwd required>
                <i class='bx bxs-lock-alt'></i>
            </div>
             <button class="btn" (click)="authService.SignUp(userEmail.value, userPwd.value)">Registrati</button>
            <div class="register-link">
                <p>Hai già un account? <a class="redirect" routerLink="/login">Accedi</a></p>
            </div>
        
    </div>
</body>


