  <app-navbar></app-navbar>   
      <body>
          <div class="wrapper">
           <form>
                  <h1>Reset Password</h1>
                  <p class="text-center">Per favore, inserisci la tua mail per resettare la password.</p>
                  <div class="input-box">
                    <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
                      <i class='bx bxs-user'></i>
                  </div>                 
                  <button class="btn" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset</button>
                  <div class="redirectToLogin mt-3 text-center">
                    <a>Torna a <span class="redirect" routerLink="/login">Login</span></a>
                  </div>
                  
                </form>
          </div>
      </body>

      <app-footer></app-footer>
