<h4 class="text-center mb-0 pt-5">Scorri per scoprire gli altri docenti</h4>
<swiper-container class="mySwiper container-fluid" space-between="20" free-mode="true" slides-per-view="auto">

    <swiper-slide *ngFor="let istruttore of carouselService.istruttori">  
      <div class="card d-flex align-items-center" >
      <img src="{{istruttore.img}}" alt="">
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
    <h3 class="title">{{istruttore.nome}}</h3>
    <p class="text-white fw-lighter mb-2 ">{{istruttore.disciplina}}</p>
    <div class="text-truncate-container">
      <p class="text-light fst-italic text-start">{{istruttore.descrizione}}</p>
    </div>
    <button class="btn text-light my-2" (click)="openPopup(istruttore)">Dettaglio</button>
  </div>   
</swiper-slide>
</swiper-container>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


