<swiper-container class="mySwiper container-fluid" pagination="true" pagination-clickable="true" space-between="30"
    slides-per-view="auto">
    <swiper-slide *ngFor="let istruttore of carouselService.istruttori" >  
      <div class="card d-flex align-items-center">
      <img src="{{istruttore.img}}" alt="">
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
    <h3 class="title mb-0">{{istruttore.nome}}</h3>
    <p class="text-white fw-lighter mb-2">{{istruttore.disciplina}}</p>
    <div class="text-truncate-container">
      <p class="text-light fst-italic">{{istruttore.descrizione}}</p>
    </div>
    <button class="btn text-light my-2" (click)="onCardClick(istruttore)">Dettaglio</button>
  </div>   
</swiper-slide>
    
</swiper-container>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>


