swiper-container {
    width: 100%;
    height: 80%;
    padding-left: 0px;
    background-color: var(--grey);
    }
  
  swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px !important;
    margin-left: 50px;
    margin-right: 0px !important;
    padding: 0px !important;
  }

  swiper-container::part(bullet-active) {
    background-color: white;
  }
  swiper-container::part(bullet) {
    background-color: hsl(0, 0%, 50%);
    opacity: 1;
  }
  
  /* Card istruttori */
    .card {
      font-family: "museo-slab" , serif;
      display: flex;
      height: 430px;
      width: 250px;
      background-color: #444249;
      border-radius: 10px;
      transition: 0.4s ease-out;
      position: relative;
      left: 0px;
    }
    
    .card:not(:first-child) {
        margin-left: -50px;
    }
    
    .card:hover {
      transform: translateY(-20px) ;
      transition: 0.4s ease-out;
      transform: scale(1.30);
      z-index: 1;
      box-shadow: -1rem 0 3rem #000;
      
    }
    
    .card:hover ~ .card {
      position: relative;
      left: 50px;
      transition: 0.4s ease-out;
    }
    
    .title {
      color: white;
      font-weight: bold;     
      font-size: 20px;
      margin-bottom: -3px;
    }

    .fst-italic{
      font-size: 9px;    
    }

    .fw-lighter{
      font-size: 12.5px;
    }

    .text-truncate-container p {
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: 170px;
      margin-bottom: 0px;
    }
  

    
    
    .bar {
      position: absolute;
      top: 260px;
      left: 20px;
      height: 5px;
      width: 200px;
      border-radius: 25px;
    }
    
    .emptybar {
      background-color: #2e3033;
      width: 100%;
      height: 100%;
      border-radius: 25px;
    }
    
    .filledbar {
      position: absolute;
      top: 0px;
      z-index: 3;
      width: 0px;
      height: 100%;
      background: rgb(153,0,0);
      background: linear-gradient(90deg, rgba(153,0,0,1) 30%, rgba(242,183,5,1) 70%);
      transition: 0.6s ease-out;
      border-radius: 25px;
    }
    
    .card:hover .filledbar {
      width: 200px;
      transition: 0.4s ease-out;
      border-radius: 25px;
    }
  
    img{
      width: 160px;
      height: 246px;
      margin-top: 10px;
      margin-bottom: 10px;
      
    }
  
    
  
  