<app-navbar></app-navbar>
<body class="mt-5">
  <div class="wrapper" *ngIf="isUserWithEmailAllowed">
    <h1>Inserisci un nuovo articolo</h1>
    <mat-form-field>
      <mat-label>Titolo:</mat-label>
      <input matInput type="text" id="title" [(ngModel)]="blogTitle" >
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Descrizione:</mat-label>
      <textarea matInput type="text" id="description" [(ngModel)]="blogDescription"></textarea>
    </mat-form-field>  
    
    <label for="photo">Immagine:</label>
    <input type="file" id="photo" (change)="gestisciFileInput($event.target.files)" />
    
    <button (click)="salvaArticolo()">Salva</button>
  </div> 
  
  <div class="container-fluid d-flex justify-content-evenly align-items-center">
    <div *ngFor="let articolo of articoli | async">
      <div class="card">
        <img [src]="articolo.photo" alt="Immagine articolo" *ngIf="articolo.photo" />
        <div class="card-body">
          <h5 class="card-title">{{ articolo.title }}</h5>
          <p class="card-text" [ngClass]="{'mostra-tutto': mostraTutto}">
            {{ articolo.description }}
          </p>
          <div *ngIf="!mostraTutto && articolo.description.length > 50">
            <button (click)="mostraTutto = true">Mostra tutto</button>
          </div>
          <button *ngIf="mostraTutto" (click)="mostraTutto = false">Mostra meno</button>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>
</body>
