body{
    background: var(--grey);
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: white;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 300px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
  }

