<app-navbar></app-navbar>
<body class="mt-5">
  <div class="wrapper" *ngIf="isUserWithEmailAllowed">
    <h1>Inserisci un nuovo articolo</h1>
    <mat-form-field>
      <mat-label>Titolo:</mat-label>
      <input matInput type="text" id="title" [(ngModel)]="blogTitle" >
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Descrizione:</mat-label>
      <textarea matInput type="text" id="description" [(ngModel)]="blogDescription"></textarea>
    </mat-form-field>  
    
    <label for="photo">Immagine:</label>
    <input type="file" id="photo" (change)="gestisciFileInput($event.target.files)" />
    
    <button (click)="salvaArticolo()">Salva</button>
  </div> 
  

  <div>
    <img src="../../../assets/media/bannerHeader.png" alt="" class="banner-blog">
  </div>


  <div class="container-fluid">
    <div class="row">
    <h1 class="pb-5 m-0">I Nostri Articoli</h1>
    <div *ngFor="let articolo of articoli | async" class="col-md-4">
  <div class="blog-card">
    <div class="blog-card-image">        
      <img class="img" [src]="articolo.photo" alt="Immagine articolo" *ngIf="articolo.photo" (click)="showDetails(articolo)" >                
    </div>
    <div class="blog-table">
        <h6 class="blog-category blog-text-success">News</h6>
        <h4 class="blog-card-caption">{{ articolo.title }}</h4>
        <div class="text-truncate-container">
          <p class="blog-card-description"> {{ articolo.description }}</p>
        </div>      
        <div class="ftr">
            <button (click)="showDetails(articolo)" class="btn">Mostra dettagli</button> 
        </div>
    </div>
</div>
</div>
  </div>
</div>


  
<app-footer></app-footer>
</body>
