body{
    background: var(--grey);
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    color: white;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 400px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
  }

  .card-text {
  max-height: 50px; /* Altezza massima del testo mostrato */
  overflow: hidden;
  transition: max-height 0.3s ease; /* Aggiungi un'animazione per una transizione fluida */
}

.mostra-tutto {
  max-height: none; /* Mostri tutto il testo quando la classe 'mostra-tutto' è presente */
}

.justify-content-evenly{
  background-color: var(--grey);
}

