<app-navbar></app-navbar>

   
      <body>
          <div class="wrapper">
           <form>
                  <h1>Login</h1>
                  <div class="input-box">
                      <input type="text" placeholder="E-mail" #userName required>
                      <i class='bx bxs-user'></i>
                  </div>
                  <div class="input-box">
                      <input type="password" placeholder="Password"  #userPassword required>
                      <i class='bx bxs-lock-alt'></i>
                  </div>
                  <div class="remember-forgot">
                      <a routerLink="/passdimenticata">Hai dimenticato la tua password?</a>
                  </div>
                  <button class="btn" (click)="authService.SignIn(userName.value, userPassword.value)">Login</button>
                  <div class="register-link">
                      <p>Non hai ancora un account? <a class="redirect" routerLink="/registrati">Registrati</a></p>
                  </div>
                </form>
          </div>
      </body>

      <app-footer></app-footer>


