nav{
    height: 48px;
    background-color: var(--grey);
}

@media (max-width: 992px) {
 .navbar .navbar-collapse {
    text-align: center;
    background-color: var(--grey);
    width: 100%;    
    }
    .container-fluid{
        padding: 0px;
    }

    .logo{        
        margin-left: 17px;
        margin-bottom: 26px;
    }
    .navbar {
        height: 52px;
    }
}



.logo{
    width: 20px;
    margin-bottom: 4px;
}

button{
    border: transparent;
}
