nav{
    height: 48px;
    background-color: var(--grey);
}

@media (max-width: 992px) {
 .navbar .navbar-collapse {
    text-align: center;
    background-color: var(--grey);
    width: 100%;    
    }
    .container-fluid{
        padding: 0px;
    }

    .logo{        
        margin-left: 17px;
        margin-bottom: 26px;
    }
    .navbar {
        height: 52px;
    }  
    .center-ul{
        margin-left: 0px !important;        
    }
    .reg{
        margin-left: 0px !important;
    }
   
}

.reg{
    margin-left: 70px;
}



.logo{
    width: 20px;
    margin-bottom: 4px;
}

button{
    border: transparent;
}

.profileImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
}


.center-ul{
    margin-left: 200px;
}


   

