<body>
  <div class="wrapper">
    <h1>Inserisci i tuoi dati</h1>
    <form class="was-validated" (ngSubmit)="onSubmit()" #myForm="ngForm">
      
      <div class="input-box text-center">
        <label for="newName" class="form-label">Nome e Cognome</label>
        <input type="text" class="form-control" id="newName" [(ngModel)]="newName" name="newName" placeholder="Inserisci il tuo nome" required
        (blur)="newNameTouched = true">
        <div class="invalid-feedback" *ngIf="newNameTouched && myForm.controls.newName?.errors?.required">
          Il nome è obbligatorio
        </div>        
      </div>
      

      
      <div class="input-box text-center">        
        <label for="dataDiNascita" class="form-label">Data Di Nascita</label>
        <input type="date" class="form-control" id="dataDiNascita" [(ngModel)]="nuovaDataDiNascita" name="dataDiNascita" placeholder="Inserisci la tua data di nascita" required
        (blur)="nuovaDataDiNascitaTouched = true">
        <div class="invalid-feedback" *ngIf="nuovaDataDiNascitaTouched && myForm.controls.dataDiNascita?.errors?.required">
          La data di nascita è obbligatoria
        </div>        
      </div>
      
      <div class="input-box text-center">        
        <label for="codiceFiscale" class="form-label">Codice Fiscale</label>
        <input type="text" class="form-control" id="codiceFiscale" [(ngModel)]="nuovoCodiceFiscale" name="codiceFiscale" placeholder="Inserisci il tuo codice fiscale" required
        (blur)="nuovoCodiceFiscaleTouched = true">
        <div class="invalid-feedback" *ngIf="nuovoCodiceFiscaleTouched && myForm.controls.codiceFiscale?.errors?.required">
          Il codice fiscale è obbligatorio
        </div>       
      </div>

      <div class="input-box text-center">        
        <label for="numeroTelefono" class="form-label">Numero di telefono</label>
        <input type="number" class="form-control" id="numeroTelefono" [(ngModel)]="nuovoNumeroTelefono" name="numeroTelefono" placeholder="Inserisci il tuo numero di telefono" required
        (blur)="nuovoNumeroTelefonoTouched = true">
        <div class="invalid-feedback" *ngIf="nuovoNumeroTelefonoTouched && myForm.controls.numeroTelefono?.errors?.required">
          Il numero di telefono è obbligatorio
        </div>       
      </div>
      
      <div class="input-box text-center"> 
        <label for="photo" class="form-label">Foto</label>       
        <input type="file" class="form-control" aria-label="file example" id="photo" name="photo" (change)="onFileSelected($event)" required>        
      </div>   
      
      <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Invia</button>  
    </form>
  </div>
</body>