  <footer>
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4  d-flex align-items-start flex-column">
          <h5 class="mb-3 ">Credit</h5>
          <p class="copyright my-0">Sito creato da Lanza Benedetto</p> 
          <p class="copyright my-0">Direttore creativo Luca Di Marco</p>  
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <h5 class="mb-1 ">Orari</h5>
          <table class="table">
            <tbody>
              <tr>
                <td>Lun - Mer - Ven:</td>
                <td>9.00 - 22.00</td>
              </tr>
              <tr>
                <td>Mar - Gio</td>
                <td>9.00 - 22.30</td>
              </tr>
              <tr>
                <td>Sab</td>
                <td>9.00 - 13.00</td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="col-lg-4 col-md-6 mb-4 d-flex align-items-end flex-column">
          <h5 class="mb-3 ">Follow us on : </h5>
          <ul class="list-unstyled mb-0 d-flex">
            <li class="mb-1">
              <a class="text-muted" href="#"><i class="fa-brands fa-facebook-f fa-xl" ></i></a>
            </li>
            <li class="mb-1">
              <a class="text-muted" href="#"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
            </li>
            <li class="mb-1">
              <a class="text-muted" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
            </li>
          </ul>
        </div> 
        
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Elite Academy      
    </div>
    <!-- Copyright -->
  </footer>
  

