footer{
    background-color: var(--grey);
    color: white;
    border-top: 2px solid white;
}

.fa-brands{
    color: white;
}

.nav{
    margin-right: 50px;
}

.copyright{
    font-size: smaller;
}

a{
    color: white !important;
    text-decoration: none;
    padding: 0px 10px;
}

td{
    background-color: transparent;
    color: white;
}

.credit-footer{
    align-items: flex-end;    
}

.follow-footer{
    align-items: flex-start;
}

@media screen and (max-width: 992px) {
    .credit-footer{
        align-items: center;
    }
    
    .follow-footer{
        align-items: center;
    }
}