/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

:root {
    --red: #990000;
    --yellow: #F2B705;
    --grey:#1F1E21;
  }

html, body { height: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 25px !important;
}

.backdropBackground{ 
  backdrop-filter: blur(6px);
}